In [1]:
import pandas as pd
import numpy as np

# Working with missing data

In [2]:
None==None

True

In [3]:
np.nan == np.nan

False

In [5]:
s = pd.Series([np.nan,1,np.nan])
s == np.nan, s.isna()

(0    False
 1    False
 2    False
 dtype: bool,
 0     True
 1    False
 2     True
 dtype: bool)

__np.nan is a float__ and forces int array ot be float type

In [12]:
pd.Series([1,2, np.nan]).dtype, pd.Series([1,2]).dtype

(dtype('float64'), dtype('int64'))

use Int dtype

In [15]:
pd.Series([1,2,np.nan], dtype=pd.Int32Dtype()).dtype

Int32Dtype()

## Filling missing values